* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif
}

.aside {
    background-color: #333741;
    min-width: 12rem;
    color: #236236236;
    text-transform: uppercase;
}

.content {
    flex-basis: 100%;
    padding: 0 2rem;
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.header--dark {
    align-items: center;
    background-color: #515764;
    color: #236236236;
    display: flex;
    flex-direction: row;
    height: 3rem;
}

.header__title {
    display: flex-start;
    font-size: 1.25rem;
    padding-left: 1rem;
}

.header__search {
    display: inline;
    font-size: 1.25rem;
    margin-right: 2rem;
    padding-left: 1rem;
    position: absolute;
    right: 2.6rem;
}

.main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.main__breadcrumb {
    background-color: rgb(233,236,239);
    border-radius: .25rem;
    padding: 1rem 1.5rem;
}

.main__card {
    flex-basis: 100%;
    margin: 1rem;
    height: 10rem;
    border: solid 1px transparent;
    border-top-left-radius: 0.25rem ;
    border-bottom-left-radius: 0.25rem ;
}

.main__cards {
    display: flex;
    flex-direction: row;
}

.main__card--blue {
    background-color: #233236239;

}

.search-input {
    outline: none;
    border-color: solid 1px transparent;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px ;
    padding: 0.375rem  0.75rem;
    font-size: 1.2rem;
    height: 2rem;
    display: inline;
    transition: border-color .15s;
}

.search__input:focus {
    border-color: rgb(128,189,255);
}

.search__btn {
    background-color: #0123255);
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #236236236);
    font-size: 1.2rem;
    margin-left: -1px;
}